.idea/.gitignore
.idea/GOBER.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
out/production/GOBER/.gitignore
out/production/GOBER/hiperbole_Equipo1.class
out/production/GOBER/MAIN.class
out/production/GOBER/README.md
